################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TestGen/bin/Debug/net6.0-windows/TestData
